.nav-link{
    color:antiquewhite;
}

.nav-link:hover{
    color:lightgreen;
}

.nav-link:focus{
    color:lightgreen;
}

#log{
    color: black;
}

#reg{
    color: black;
}

#log:hover{
    color:crimson;
}

#reg:hover{
    color:crimson;
}

#log:focus{
    color:crimson;
}

#reg:focus{
    color:crimson;
}

#auth_name{
    color: khaki;
    text-transform:uppercase;
}



